.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
}
.product-name{
    color: blue;
    font-weight: 390;
    margin: 0;
    font-size: 18px;
}
.main-btn{
    width: 150px;
    padding: 7px;
    background-color: rgba(255, 201, 66, 0.94);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.product-details{
    padding-left: 12px;
}

